.card {
  position: relative;
  max-width: 200px;
  border: 1px solid black;
}

img {
  width: 100%;
}

.buttons-container {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
}
.buttons-container button {
  display: flex;
  cursor: pointer;

  justify-content: center;
  align-items: center;
}
.buttons-container svg {
  display: block;
  width: 10px;
  height: 10px;
}

.icon.favourite {
  fill: red;
}
